.header {
  background-color: #003580;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1020px;
  margin: 20px 0px 100px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  gap: 10px;
  display: flex;
  align-items: center;
}

.headerListItem.active {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  border: none;
  padding: 10px;
  color: #fff;
}

.headerSearch {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  height: 30px;
  border: 3px solid #febb02;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItems {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchText {
  color: lightgray;
}
